How do you convert one data type to another in Python?

In Python, you can convert one data type to another using type casting or conversion functions. Here are some common data types and their corresponding conversion functions:

In [6]:
Integer: int()
x = int(3.14) #converts the float value 3.14 to an integer.

In [7]:
Float: float()
Example: x = float("3.14") #converts the string "3.14" to a float.

In [8]:
String: str()
Example: x = str(42) #converts the integer 42 to a string.

In [9]:
Boolean: bool()
Example: x = bool(0) #converts the integer 0 to a boolean (False).

In [10]:
List: list()
Example: x = list((1, 2, 3)) #converts the tuple (1, 2, 3) to a list.

In [11]:
Tuple: tuple()
Example: x = tuple([1, 2, 3]) #converts the list [1, 2, 3] to a tuple.

In [12]:
Set: set()
Example: x = set([1, 2, 3]) #converts the list [1, 2, 3] to a set.

In [13]:
Dictionary: dict()
Example: x = dict([(1, 'one'), (2, 'two')]) #converts the list of tuples to a dictionary.